**/__pycache__/
**/__pycache__/**
.env
.service-id
**/.env
en.subject.pdf

.env
.service-id

# User uploaded files
backend/profile_pictures/
!backend/profile_pictures/default.jpg

.DS_Store
**/.DS_Store/**
