fastapi==0.115.0
uvicorn[standard]
websockets==12.0
psycopg2-binary
passlib[bcrypt]
pyjwt
python-multipart==0.0.6
authlib
httpx
redis[hiredis]
alembic==1.11.1
pydantic==2.8.2
SQLAlchemy==2.0.31
sqlalchemy-json==0.7.0
libtorrent==2.0.11
itsdangerous==2.2.0
requests
apscheduler
aiosmtplib
pillow
aiofiles
ffmpeg-python
